.wrapperNormal {
  height: 100%;
  width: 96%;
  margin: 0 auto;
}

@media only screen and (max-width: 400px) {
  .wrapperNormal {
    width: 88%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .wrapperNormal {
    width: 88%;
  }
}

.wrapperNormal {
  max-width: 810px;
}

.textCenter {
  text-align: center;
}

.animated {
  animation: fade-in-down 0.6s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home {
  margin-top: 125px;
}

.page {
  margin-top: 125px;
}

.page > h1 {
  text-align: center;
  margin-bottom: 6rem;
}

.footerMain {
  border-top: 1px solid #ededed;
  padding: 40px 0;
  margin: 40px 0 0;
  font-size: 1.3rem;
  color: #aaa;
  font-weight: 300;
  text-align: center;
  position: relative;
}

.footerMain:before {
  display: block;
  content: " ";
  width: 7px;
  height: 7px;
  border: #ededed 1px solid;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  background: #fff;
  box-shadow: #fff 0 0 0 5px;
  border-radius: 3px;
}

.footerMain > .link {
  display: inline;
}

.footerMain > .authorLink {
  border-bottom: 1px solid #453886;
  color: #453886;
  padding-bottom: 0.25em;
  text-decoration: none;
}

.footerMain > .authorLink:hover {
  color: #2196f3;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
}

.footerMain > .heart {
  fill: #fa3e3e;
  margin: 0;
  width: 1rem;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

.footerMain > .link > .icon {
  width: 15px !important;
  fill: #aaa !important;
  transition: ease-in-out all 0.3s;
  position: relative;
  display: inherit;
  top: -2px;
  margin: 0;
  left: 2px;
}

.footerMain > .link > .icon:hover {
  fill: indigo !important;
}

.headerHome {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 99;
}

.headerHome > .link > .selfie {
  width: 125px;
  height: 125px;
  margin-bottom: 25px;
  border-radius: 100%;
  transition: all 0.2s;
  box-shadow: none;
  opacity: 1;
}

.headerHome > .link > .selfie:hover {
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 0px 12px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.8;
}

.headerHome > .title {
  font-size: 4rem;
  margin: 0 0 13px;
}

.headerHome > .description {
  font-size: 1.85rem;
  font-weight: 300;
  font-style: normal;
  color: #aaa;
  width: 70%;
  margin: 0 auto 30px;
}

.headerHome > .description a {
  font-weight: 200;
}

.icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  fill: #000;
  text-align: center;
  color: #000;
  margin: 7px auto;
}

.connectLinks {
  margin-top: 20px;
  min-height: 40px;
}

.connectLinks > .link {
  margin: 0;
  text-decoration: none;
  position: relative;
  display: inline-block;
  height: 35px;
  width: 35px;
}

.connectLinks > .link:hover > .icon {
  fill: indigo;
  height: 18px;
  width: 18px;
}

.connectLinks > .link:hover:before {
  opacity: 1;
  display: inline-block;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
}

.connectLinks > .link:before {
  content: attr(data-title);
  display: none;
  position: absolute;
  bottom: -34px;
  left: -6px;
  margin: 0 auto;
  font-size: 13px;
  padding: 3px 10px;
  background: #222;
  color: #fff;
  border-radius: 2px;
  height: 22px;
  line-height: 22px;
  opacity: 0;
  transition: opacity 150ms linear, transform 150ms linear,
    -webkit-transform 150ms linear;
  transform: translate3d(0, -8px, 0);
  z-index: 99;
}

.connectLinks > .link:after {
  content: "";
  position: absolute;
  top: 35px;
  left: 13px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #222;
  opacity: 0;
  transition: opacity 150ms linear, transform 150ms linear,
    -webkit-transform 150ms linear;
  transform: translate3d(0, -8px, 0);
  z-index: 100;
}

.connectLinks > .link:hover:after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.connectLinks > .icon {
  transition: all ease-in-out 0.2s;
}
